/* ================= Home page ===================== */


/* ---------------- 1. Header ------------------ */

.home__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
    box-shadow: 0px 0px 10px #707070;
    position: fixed;
    top: 0%;
    left: 0%;
    right: 0%;
    z-index: 2;
    background-color: white;
}

.header__search {
    color: #707070;
    border-radius: 25px;
    min-width: 20%;
    background-color: #F5F5F5;
    padding: 8px 16px;
    display: flex;
    align-items: center;
}

.header__search--icon {}

.header__search--text {
    color: #707070;
    background-color: #F5F5F5;
    padding: 0px 16px;
}

.header__search--text::placeholder {
    color: #707070;
}

.header__logo {
    cursor: pointer;
}

.header__other {
    display: flex;
    justify-content: space-between;
}

.header__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #52595C;
    margin-right: 24px;
    cursor: pointer;
}

.header__icon--item {
    margin: 0px 24px;
    cursor: pointer;
    transition: 0.3s all;
}

.header__user--down:hover,
.header__icon--item:hover {
    color: #E60A17;
    transition: 0.3s all;
}

.header__icon--filter {}

.header__icon--notify {}

.header__icon--add {}

.header__user {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__user--avatar {
    cursor: pointer;
}

.header__user--down {
    color: #52595C;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.3s all;
}


/* ---------------- 2. Navbar ------------------ */

.home__navbar {
    padding: 24px 0px;
    background-color: #FAFAF9;
    margin-top: 84px;
    border-bottom: 1px solid #F4F4F4;
    z-index: 1;
}

.home__navbar-list {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
}

.home__navbar-item {
    color: #536876;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s;
}

.home__navbar-item:hover {
    color: #E60A17;
    transition: all 0.3s;
}


/* ---------------- 3. Home body --------------- */

.home__body {
    margin: 12px;
    background-color: white;
}

.posts__list {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
}


/* ------- style a post item ------*/

.post__item {
    color: #C0C9D5;
    background-color: #FAFAF9;
    border-radius: 7px;
    box-shadow: 0px 0px 8px#d1d1d1;
    margin: 12px;
    height: fit-content;
    -ms-flex: 25%;
    /* IE10 */
    flex: 25%;
    max-width: 25%;
}

.post__item-img img {
    width: 100%;
    height: auto;
}

.post__content {}

.post__body {
    padding: 10px 12px;
}

.post__item-channel {
    color: #536876;
    font-weight: bold;
    position: relative;
    font-size: 12px;
    cursor: pointer;
}

.post__readmore {
    color: #7E8998;
    position: absolute;
    right: 0%;
    cursor: pointer;
}

.post__item-description {
    color: #203442;
    padding: 14px 0px;
    font-size: 18px;
    line-height: 28px;
}

.post__item-channel--tick {
    color: rgb(17, 117, 240);
    padding: 0px 8px;
}

.post__item-type {
    padding-bottom: 14px;
    font-size: 12px;
}

.post__item-bottom {
    display: flex;
    font-size: 14px;
    border-top: 1px solid #e9e9e9;
    padding: 12px 10px;
    justify-content: space-between;
}

.post__bottom-item {}

.post__bottom-item--icon {
    padding: 0px 6px;
    cursor: pointer;
}

.post__item-bottom--day {}

.post__item-bottom--comment {
    transition: all 0.3s;
}

.post__item-bottom--comment i:hover {
    color: rgb(12, 121, 231);
    transition: all 0.3s;
}

.post__item-bottom--heart {
    transition: all 0.3s;
}

.post__item-bottom--heart i:hover {
    color: #E60A17;
    transition: all 0.3s;
}