* {
    padding: 0;
    margin: 0;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    min-height: 100vh;
    width: 100vw;
}

body {
    height: 100%;
    min-height: 100vh;
    width: 100vw;
    // overflow-x: hidden;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    transition: all 0.3s;
    cursor: pointer;
}

input {
    border: none;
    outline: none;
}

textarea {
    width: 100%;
    border: none;
    resize: none;
    outline: none;
    overflow: scroll;
    font-family: Arial, Helvetica, sans-serif;
}