/* ===================== START STYLE HOME PAGE ========================== */


/* ----------------- DESKTOP -------------------- */

.home {
    &__header {
        @include flex(space-between, unset);
        @include position(fixed, 0%, 0%, auto, 0%, 0, 0);
        padding: 16px;
        z-index: 2;
        background-color: white;
        box-shadow: 0px 0px 10px #707070;
    }
    &__navbar {
        @include setPadMar4(24px, 0px, 24px, 0px, 84px, 0px, 0px, 0px);
        background-color: #FAFAF9;
        border-bottom: 1px solid #F4F4F4;
        z-index: 1;
        &-list {
            @include flexfull(space-around, center, row);
            margin: 0 auto;
            width: 70%;
        }
        &-item {
            @extend %pointer;
            color: #536876;
            font-size: $fontSize-main;
            font-weight: bold;
            &:hover {
                color: #E60A17;
                transition: all 0.3s;
            }
        }
    }
    &__body {
        background-color: white;
    }
}

// header
.header {
    &__search {
        border-radius: 25px;
        min-width: 20%;
        background-color: #F5F5F5;
        padding: 8px 16px;
        display: inline-flex;
        align-items: center;
        &--text {
            background-color: transparent;
            padding: 0px 16px;
            color: #707070;
            &::placeholder {}
        }
    }
    &__logo {
        @extend %pointer;
    }
    &__other {
        @include flex(space-between, unset);
    }
    &__icon {
        @include flex(space-between, center);
        color: $textColor-header-home;
        margin-right: 24px;
        &--item {
            margin: 0px 24px;
            @extend %pointer;
            &:hover {
                color: #E60A17;
                transition: 0.3s all;
            }
        }
    }
    &__user {
        @include flex(space-between, center);
        &--avatar img {
            @extend %pointer;
            border-radius: 50%;
            width: 100%;
            height: auto;
        }
        &--down {
            @extend %pointer;
            color: $textColor-header-home;
            margin-left: 16px;
        }
    }
}

// bar button for mobile
.bar {
    &__btn {
        @extend %pointer;
        display: none;
        position: relative;
        margin-right: 24px;
        &>i {
            @include position(absolute, 50%, auto, auto, auto, 0%, -50%);
            display: inline-block;
            padding: 10px;
        }
        &::after {
            @include position(absolute, 70%, auto, auto, 0%, 0, 0);
            content: '';
            width: 300px;
            height: 30px;
            background-color: transparent;
        }
        &:hover.bar__content {
            left: 0px;
            transition: all 0.5s;
        }
    }
    &__content {
        @extend %pointer;
        @include position(absolute, 100%, auto, auto, -300px, 0%, 0%);
        z-index: 5;
        margin: 16px 0px 0px -16px;
        background-color: #E60A17;
        width: 300px;
        &-item {
            @extend %pointer;
            padding: 8px;
            color: white;
            &:hover {
                background-color: #ff2e3c;
                transition: all 0.3s;
            }
            i {
                display: inline-block;
                padding: 8px;
            }
        }
    }
}

// post
.post {
    &__list {
        column-count: 5;
        column-gap: 16px;
        margin: 10px 16px;
    }
    &__item {
        color: #C0C9D5;
        background-color: #FAFAF9;
        border-radius: 10px;
        box-shadow: 0px 0px 8px#c2c2c2;
        margin: 8px 0px;
        display: inline-block;
        width: 100%;
        transition: all 0.3s;
        &:hover {
            box-shadow: 1px 1px 10px#909090;
            transition: all 0.3s;
        }
        &-img {
            img {
                width: 100%;
                height: auto;
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
                cursor: pointer;
            }
        }
        &-channel {
            color: #536876;
            font-weight: bold;
            position: relative;
            font-size: 12px;
            cursor: pointer;
            text-transform: uppercase;
            &--tick {
                color: rgb(17, 117, 240);
                padding: 0px 8px;
            }
        }
        &-description {
            @extend %pointer;
            color: $textColor-main-Post;
            padding: 14px 0px;
            line-height: 28px;
            &--infor {
                font-size: 14px;
                color: #203442;
                padding-bottom: 8px;
            }
        }
        &-type {
            padding-bottom: 14px;
            font-size: $font-small;
        }
        &-bottom {
            @include flex(space-between, unset);
            font-size: 14px;
            border-top: 1px solid #e9e9e9;
            padding: 12px 10px;
        }
    }
    &__body {
        padding: 10px 12px;
    }
    &__readmore {
        @extend %pointer;
        @include position(absolute, auto, 0%, auto, auto, 0, 0);
        color: #7E8998;
        right: 0%;
    }
    &__bottom {
        &-item--icon {
            @extend %pointer;
            padding: 0px 6px;
        }
        &--comment {
            @extend %pointer;
            i :hover {
                color: rgb(12, 121, 231);
                transition: all 0.3s;
            }
        }
        &--heart {
            @extend %pointer;
            i :hover {
                color: #E60A17;
                transition: all 0.3s;
            }
        }
    }
}


/* ---------------- TABLET -------------------- */

@include MaxMinSizeDevice(1200px, 1024px) {
    .post__list {
        column-count: 4;
    }
}

@include MaxMinSizeDevice( 1023px, 768px) {
    .home__navbar-list {
        width: 90%;
    }
    .post__list {
        column-count: 3;
    }
}


/*----------------- MOBILE -------------------*/

@include MaxSizeDevice( 768px) {
    .home__header {
        padding: 8px;
    }
    .bar {
        &__btn {
            display: block;
        }
        &__content {
            margin: 8px 0px 0px -8px;
        }
    }
    .header {
        &__logo {
            transform: scale(0.85);
        }
        &__search,
        &__icon {
            display: none;
        }
        &__icon {
            margin-right: 16px;
            &--item {
                margin: 0px 16px;
            }
        }
    }
    .home__navbar {
        &-list {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto auto;
        }
        &-item {
            margin: 8px 0px;
            text-align: center;
        }
    }
    .post__list {
        column-count: 2;
    }
}

@include MaxSizeDevice(525px) {
    .bar__content {
        width: 200px;
    }
    .home__navbar-list {
        grid-template-columns: auto auto auto;
    }
    .post__list {
        column-count: 1;
    }
}