$primary-color: #E60A17;
$main-btncolor: #2F9A4C;
$textColor-main-Input: #000000;
$background-image: url('../images/background.png');
$background-color: #3F3F3F;
$textColor-main-Post: #203442;
$textColor-header-home: #536876;
$textColor-button: white;
$fontSize-main: 16px;
$font-small: 12px;
$bkShadow1: inset 0px 10px 180px #000;
$bkShadow2:inset 0px -10px 180px #000;